* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #1B1B1B;
}

.noticias {
    margin: 5px;
    box-sizing: border-box;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "tabela1 tabela1 tabela2 tabela2"
    "tabela1 tabela1 tabela3 tabela4"
    "tabela5 tabela6 tabela7 tabela7"
    "tabela8 tabela6 tabela7 tabela7";
}

h2 {
    color: #e9e9e9;
}

.tabela:hover {
    scale: 1.05;
}

#tabela1 {
    grid-area: tabela1;
    font-size: 3vw;
    background-color: #E71E64;
}
#tabela2 {
    grid-area: tabela2;
    font-size: 2vw;
    background-color: #FC9C12;
}
#tabela3 {
    grid-area: tabela3;
    background-color: #AA3BBB;
}
#tabela4 {
    grid-area: tabela4;
    background-color: #566C7A;
}
#tabela5 {
    grid-area: tabela5;
    background-color: #6A6A6A;
}
#tabela6 {
    grid-area: tabela6;
    font-size: 1.7vw;
    background-color: #3AD345;
}
#tabela7 {
    grid-area: tabela7;
    font-size: 2.5vw;
    background-color: #3490F3;
}
#tabela8 {
    grid-area: tabela8;
    background-color: #4E008A;
}

@media screen and (max-width: 720px) {
    .noticias {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: none;
        gap: 0;
        row-gap: 5px;
    }
    #tabela1,
    #tabela2,
    #tabela3,
    #tabela4,
    #tabela5,
    #tabela6,
    #tabela7,
    #tabela8 {
    grid-area: auto;
    font-size: 2vh;
    }
}